
/* add my own font */
@font-face {
  font-family: "better-vcr5.1";
  src: url(fonts/better-vcr5.1.ttf);
}

@font-face {
  font-family: "basis33";
  src: url(fonts/basis33.ttf);
}

@font-face {
  font-family: "blue-screen-font";
  src: url(fonts/BlueScreenPersonalUseRegular-0W1M9.ttf);
}

@font-face {
  font-family: "HABESHAPIXELS";
  src: url(fonts/HABESHAPIXELS.ttf);
  src: url(fonts/HABESHAPIXELS-Bold.ttf);
}

@font-face {
  font-family: "VPPixel-Simplified";
  src: url(fonts/VPPixel-Simplified.otf);
}

@font-face {
  font-family: "JmhcthulhumbusarcadeRegular";
  src: url(fonts/JmhcthulhumbusarcadeugRegular.ttf);
}


@font-face {
  font-family: "Spyro2";
  src: url(fonts/Spyro2.ttf);
}

@font-face {
  font-family: "videotype";
  src: url(fonts/videotype.ttf);
}

@font-face {
  font-family: "QuinqueFive";
  src: url(fonts/QuinqueFive.ttf);
  src: url(fonts/QuinqueFive.otf);
}

html {
  scroll-behavior: smooth;
  scroll-padding-top: 5rem;
}

body {
  /* background-color: rgb(255, 255, 255); */
  background-image: url('pictures/wallhaven-ymvg5x.png');
  /* Specify background properties */
  background-size: cover; 
  background-position: center; 
  background-attachment: fixed;
  background-repeat: no-repeat; /* Do not repeat the background image */
  /* Smoothly transition the background color */
  overflow-x: hidden;
  overflow-y: scroll;
  /* position: absolute; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto;

}

.ellipse-container {
  position: relative;
  width: 280px;
  aspect-ratio: 2/1;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  margin-top: 3%;

}


.ellipse-text-container {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  font-family: "QuinqueFive";
}

.ellipse-text {
  font-size: 1.05rem;
  text-shadow: 0 0 4px #9e9e9e;
  color: #e0e0e0;
  margin: 0;
  transform-origin: 50% 50%;
  animation: rotateText 10s infinite linear;
}

@keyframes rotateText {
  from {
      transform: rotateY(0deg);
  }
  to {
      transform: rotateY(360deg);
  }
}


.player-container {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 4%;
  width: 395px;
  height: 395px;
  background-color: transparent;
}

.top-section {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 42%;
  background-color: #9e9e9e;
  padding: 5px;
  border: 3px solid #9e9e9e;
  border-radius: 10px;
  /* make it look better */
  box-shadow: 0 0 10px #e0e0e0;

  /* Smoothly transition the background color */
  transition: background-color .1s;
  
}

.visualizer-container {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 50%;
  background-color: rgb(197, 197, 197);
  padding: 3px;
  border: 2px solid rgb(170, 170, 170);
  border-radius: 10px;
}

.canvas {
  position: relative;
  left: 0;
  top: 0;
  width: 95%;
  height: 90%;
  z-index: 1000;
}

.number-visualizer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 30%;
  height: 100%;
  background-color: rgb(0, 0, 0);
  border: 1px solid #a3a3a3;
  border-radius: 10px;
  padding: 0px;
  margin-right: 1px;
}

.current-time, .total-duration {
  font-family: "HABESHAPIXELS";
  margin-left: 8px;
  margin-top: 4px;
  padding: 0px;
  font-size: 2rem;

  width: 90%;
  height: 40%;
  /* add shadow to the text */
  color: #f1f1f1;
  text-shadow: 0 0 5px #ffffff;
  /* Smoothly transition the color */
  transition: color .3s;
}

.current-time:hover, .total-duration:hover {
  color: rgb(0, 255, 0);
  text-shadow: 0 0 5px rgb(0, 255, 0);

}

.audio-visualizer {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 70%;
  height: 100%;
  background-color: rgb(0, 0, 0);
  border: 1px solid #a3a3a3;
  border-radius: 10px;

}

.progress-slider-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 20%;
  background-color: transparent;
  margin-top: 0px;
  margin-bottom: -10px;
}

.progress-slider {
  width: 100%;
  max-width: 400px;
  display: flex;
  justify-content: center;
  align-items: center;

}

.control-container {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 30%;
  background-color: transparent;
  padding: 0px;
  margin-bottom: -10px;
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 55%;
  height: 100%;
  background-color: transparent;
}

.play-track,
.pause-track,
.prev-track,
.next-track {
  opacity: 1.0;
  background-color: transparent;
  margin: 0px auto;
  padding: 0px;
  border-radius: 50%;
  /* Smoothly transition the opacity */
  transition: opacity .2s;
}

.ri-skip-back-line,
.ri-skip-forward-line,
.ri-play-circle-line,
.ri-pause-circle-line {
  font-size: 2rem;
}

.play-track:hover,
.pause-track:hover,
.prev-track:hover,
.next-track:hover {
  opacity: 0.6;
}

.audio-slider-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 45%;
  height: 100%;
  background-color: transparent;
}

.audio-slider {
  width: 200px;
  max-width: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(230, 230, 230);
  border:#b8b8b8 2px solid;
  border-radius: 10px;

}

/* Modify the appearance of the slider */
.seek_slider{
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  height: 8px;
  background: black;
  opacity: 0.7;
  -webkit-transition: .2s;
  transition: opacity .2s;
  border: #b1b1b1 3px solid;
  border-radius: 10px;
}

.volume_slider {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  height: 8px;
  background: black;
  opacity: 0.7;
  -webkit-transition: .2s;
  transition: opacity .2s;
  border-radius: 10px;
}

/* Modify the appearance of the slider thumb */
.volume_slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  width: 10px;
  height: 10px;
  background: #ccc;
  cursor: pointer;
}

.seek_slider::-webkit-slider-thumb{
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  width: 17px;
  height: 13px;
  background: rgb(209, 209, 209);
  cursor: pointer;
  border: 3px solid #ffffff;
  border-radius: 10px;
}

.seek_slider:hover, .volume_slider:hover {
  opacity: 1.0;
}

.seek_slider {
  width: 300px;
}

.volume_slider {
  width: 60%;
}


.ri-volume-down-line, .ri-volume-up-line {
  padding: 0px;
  font-size: 1.5rem;
}

i.fa-play-circle, i.fa-pause-circle, i.fa-step-forward, i.fa-step-backward {
  cursor: pointer;
}

.bottom-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 65%;
  height: 58%;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  background-color: rgb(196, 196, 196);
  border: 1px solid #c9c9c9;
  box-shadow: 0 0 5px #e0e0e0;
}

.details {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  margin-top: 0px;
  font-family: "better-vcr5.1";
  text-rendering: optimizeSpeed; 
  letter-spacing: 0px;  
}
.track-art {
  margin: 5px;
  height: 140px;
  width: 140px;
  /* use the image from path */
  background-image: url("pictures/kida.jpg");
  background-size: cover;
  border-radius: 15%;
}

.now-playing {
  font-size: 0.8rem;
  border : 4px solid #9e9e9e;
  border-radius: 0 0 10px 10px;
  padding: 0.3rem 1rem 0.15rem 1rem;
  background-color: #9e9e9e;
  color: #ffffff;
  margin-top: -3px;
  text-shadow: 0 0 2px #ffffff;
}
.track-artist {
  font-size: 0.9rem;
  /* give some spacing */
  margin-top: 5px;
}
.track-name {
  font-size: 0.7rem;
  margin: 5px 1px 10px 1px;
}




.navbar {
  font-family: 'Press Start 2P';;
  font-size: 0.58rem;
  text-transform: uppercase;
  position: sticky;
  overflow: hidden;
  top: 0;
  width: 58rem;
  z-index: 1000; 
  text-align: center;
  margin-top: 60px;
  border: 1px solid #e7e7e7;
  background-color: #e0e0e0;
  border-radius: 200px;
  /* smoothly transition from border color to backgroumd color  */
  padding: 1px;
  box-shadow: 0 0 3px #e0e0e0;
  
}

.navbar ul {
  list-style-type: none;
  padding: 0;
}

.navbar li {
  display: inline-block;
  align-items: center;
}

.navbar a {
  display: block;

  text-align: center;
  padding: 9px 20px 6px 20px;
  text-decoration: none;
  transition: background-color 0.3s, color 0.3s;
  background-color: #ffffff;
  border: 1px solid #efefef;
  color: #c9c9c9;

  border-radius: 20px;
}

.navbar a:hover {

  border: 1px solid #9e9e9e;
  color: rgb(255, 255, 255);
  background-color: #8f8f8f;
}


.navbar li a.active {
  background-color: #8f8f8f;
  color: rgb(255, 255, 255);
  border:1px solid #9e9e9e;
}


main {
  position: relative;
  width: 60rem;

  border-radius: 2rem;
  background-color: #e0e0e0;
  margin-top: 60px;
  padding-bottom: 2rem;
  justify-content: space-evenly;
  align-items: center;
  /* add shadow */
  box-shadow: 0 0 5px #e0e0e0;
}

.section {
  padding: 1rem 0 0rem 0;
  width: 50rem; /* Set the width you desire */
  margin: 2rem auto; /* Center the section on the page */
  background-color: transparent;
  text-decoration: none;

  margin-bottom: 6rem;
}


.section h2 {
  text-align: center;
  /* make the word capital */
  text-transform: uppercase;
  /* make the word color */
  color: #f1f1f1;
  text-shadow: 0 0 3px #ffffff;
  font-family: "QuinqueFive";
  font-size: 1rem;


  margin: 1rem auto 5rem auto;
  padding: 1.2rem 2.2rem 1.3rem 2.2rem;
  /* make the length of section h2 equal to the length of inner text */
  width: fit-content;

  border-radius: 1rem;
  background-color: #000000;
  transition: background-color 0.4s, color 0.4s;
  box-shadow: 0 0 2px #000000;
  
}

section h2:hover {
  color: rgb(0, 255, 0);
  text-shadow: 0 0 5px rgb(0, 255, 0);

}

.section p {
  text-align: left;
  font-family: "videotype";
  font-size: 1.1rem;
  margin: 3rem auto;
  /* text line spacing */
  line-height: 2rem;
  color:#3b3b3b
}

.section p i {
  font-size: 1.5rem;
}

.pictures {
  display: flex;
  margin: 1rem auto -1rem auto;
  width: fit-content;
  background-color: transparent;

}


.picture-titles {
  display: flex;
  margin: 0rem auto;
  width: fit-content;
  padding: 0px;

}

.section2 {
  width: 50rem;
  display: inline-flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin-top: 3rem;
}

.interest{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 24rem;
}

.interest p {
  text-align: left;
  font-family: "videotype";
  font-size: 1.1rem;
  margin: 2rem 1rem 0rem 1rem;
  /* text line spacing */
  line-height: 2rem;
  color:#3b3b3b
}

.section a{
  text-decoration: none;
  color: #242424;
}
.section a:hover { 
  color: rgb(0, 255, 0);
  text-shadow: 0 0 1px rgb(0, 255, 0);
}

.pictures-mapf {
  display: flex;
  width: fit-content;
  background-color: rgb(0, 0, 0);
}

.highlight {
  color: rgb(0, 197, 0); /* or any other color you prefer */
}

.counter {
  margin: 2rem;
  text-align: center;
  font-family: "basis33";
}
